<template>
  <ion-page>
    <ion-header class="ion-no-border">
      <ion-toolbar
        ><ion-buttons slot="start">
          <ion-back-button
            color="primary"
            default-href="welcome"
          ></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </ion-page>
</template>

<script lang="ts">
import {
  IonHeader,
  IonPage,
  IonToolbar,
  IonButtons,
  IonBackButton,
} from "@ionic/vue";
import { defineComponent } from "vue";

export default defineComponent({
  name: "SignupPage",
  components: {
    IonHeader,
    IonPage,
    IonToolbar,
    IonButtons,
    IonBackButton,
  },
});
</script>

<style scoped>
.ion-page {
  background-color: #fff;
}
</style>
