<template>
  <ion-page>
    <ion-header class="ion-no-border">
      <ion-toolbar> </ion-toolbar>
      <ion-toolbar
        ><div class="rrf-welcome-logo">
          <div class="rrf-welcome-image"></div>
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <div class="rrf-welcome-notes">
        <p color="white" class="ion-padding ion-margin">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis nihil
          repellat voluptates enim officia sed praesentium! Dignissimos, aut
          eius placeat consectetur praesentium earum rem, doloremque, iusto
          repudiandae possimus consequuntur veniam?
        </p>
      </div>
    </ion-content>
    <ion-footer class="ion-no-border">
      <ion-toolbar class="ion-text-center">
        <div class="buttons-group">
          <div class="app-button sign-in-button">SIGN IN</div>
          <div class="app-button sign-up-button" href="/signup">SIGN UP</div>
        </div>
      </ion-toolbar>
      <ion-toolbar class="ion-text-center">
        <ion-text color="white"
          >Login using <span class="button-link">OTP</span></ion-text
        >
      </ion-toolbar>
    </ion-footer>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonPage,
  IonToolbar,
  IonFooter,
  IonText,
} from "@ionic/vue";
import { defineComponent } from "vue";

export default defineComponent({
  name: "HomePage",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonToolbar,
    IonFooter,
    IonText,
  },
});
</script>

<style scoped>
.button-link {
  display: inline-block;
  padding: 3px;
  background-color: #fff;
  border-radius: 3px;
  color: var(--ion-color-secondary);
  cursor: pointer;
}
[color="white"] {
  color: #fff;
}
.rrf-welcome-logo {
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  padding: 7px;
  border: 2px solid #fff;
}
.rrf-welcome-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
}
.rrf-welcome-notes {
  height: 100%;
  display: flex;
  align-items: center;
  overflow: auto;
}
.rrf-welcome-notes p {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 80%;
}
.buttons-group .app-button {
  display: inline-block;
  max-width: 100px;
  min-width: 100px;
  margin: 8px;
}
.app-button {
  padding: 7px;
  border: 1px solid #fff;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
}
.app-button:hover {
  border: 1px solid #fff;
  background-color: #fff;
  color: var(--ion-color-secondary);
}
</style>
