<template>
  <ion-app>
    <ion-router-outlet />
  </ion-app>
</template>

<script lang="ts">
import { IonApp, IonRouterOutlet } from "@ionic/vue";
import { defineComponent } from "vue";

export default defineComponent({
  name: "App",
  components: {
    IonApp,
    IonRouterOutlet,
  },
});
</script>
<style scoped>
.ion-page {
  background: linear-gradient(
    135deg,
    var(--ion-color-primary) 30%,
    var(--ion-color-secondary) 70%
  );
}
</style>